.header {
  background: #232f3e;
  height: auto !important;
}
.search-box {
  border-radius: 10px;
  height: 40px;
  border: none;
  outline: none;
background: white;
}
.MuiMenuItem-root.Mui-selected{
  background-color: #fff!important;
} 
.css-13eajue-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: #f6e5d5 !important;
  color: #ff6a00 !important;
}
.css-13eajue-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 14px !important;
}
.menu-item:first-child {
  background-color: transparent !important;
}
.menu-item:first-child:hover {
  background-color: #f6e5d5 !important;
}
.cart-icon {
  font-size: 22px;
  font-weight: bold;
}
.person-icon {
  font-weight: 500;
  font-size: 25px !important;
}
.login-btn {
  border-radius: 8px;
  height: 40px;
  color: #ff6a00;
  border: none !important;
  outline: none !important;
  background-color: #fff;
}
.login-btn:hover {
  background-color: #ff6a00;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.sub-header {
  background-color: #131921;
}
.link-style {
  color: white !important;
  text-decoration: none !important;
}
.link-style:hover {
  color: #ff6a00 !important;
  transition: color 0.2s ease-in-out;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
}
.live-notif {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: blink 1.5s linear infinite;
}
.menu {
  background-color: white;
  height: 100vh;
  width: 50vw;
  z-index: 5 !important;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 16px;
}
.menu-item {
  padding: 10px;
  font-weight: 500;
  padding-right: 5px;
  color: #232f3e;
}
.menu-item:hover {
  background-color: #f6e5d5 !important;
  color: #ff6a00 !important;
}
