.vr-section{
    background-image: linear-gradient(to bottom right, #ff6a00, #fcd3b6);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}