body, html {
  margin: 0;
  padding: 0;
  direction: rtl !important;
  box-sizing: border-box;

}
@font-face {
  font-family: iransans;
  src: url("./assets/fonts/IRANSans(FaNum).ttf");
}
* {
  font-family: iransans;
  direction: rtl !important;
}
.bg-orange{
  background-color: #ff6a00;
}
.text-orange{
color: #ff6a00;
}
.orange-btn{
  background-color: #ff6a00;
  outline:inherit;
  width:120px;
  height:40px;
  border-radius:20px;
  border:1px solid #ff6a00;
  color: antiquewhite;
}
.pointer{
cursor: pointer;
}
